<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <!--Adding semantic for future use if we want to use it-->
    <link rel="stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <!--fontAwesome goes here-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css">
    <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- External css goes here -->
    <link rel="stylesheet" href="homie.css">
    <title>Homepage</title>
</head>
<body>
    <!-- Header starts here -->
    <div class="header">
        <strong><i class="fas fa-home"></i>  Homie Services</strong>
        <div class="headerButtons">
            <button class="ui primary basic button">Log In</button>
            <button class="ui positive basic button">Sign Up</button>
        </div>
    </div>
    <div class="search jumbotron">
        <div class="searchBar">
            <form class="ui form">
                <strong>Search Homie</strong>
                <div class="two fields">
                    <input type="text" class="input-0" name="first-name" placeholder="what you are looking for">
                </div>
            </form>
        </div>
    </div>
 <!-- Header ends here -->
 <!-- Menu bar starts here -->
    <div class="menuBar">
        <div class="typeContainer">
            <div class="menuItem menuHeader">
                <a href="#">Housekeeping</a>
            </div>
        </div>
        <div class="typeContainer">
            <div class="menuItem menuHeader">
                <a href="#">Interior Finishing</a>
            </div>
        </div>

        <div class="typeContainer">
            <div class="menuItem menuHeader">
                <a href="#">Interior Finishing</a>
            </div>
        </div>

        <div class="typeContainer">
            <div class="menuItem menuHeader">
                <a href="#">Wedding and Party</a>
            </div>
        </div>

        <div class="typeContainer">
            <div class="menuItem menuHeader">
                <a href="#">Logistics</a>
            </div>
        </div>

        <div class="typeContainer">
            <div class="menuItem menuHeader">
                <a href="#">Health and Diagnostic</a>
            </div>
        </div>
        <div class="typeContainer">
            <div class="menuItem menuHeader">
                <a href="#">Landscaping</a>
            </div>
        </div>
        <div class="typeContainer">
            <div class="menuItem menuHeader" id="more">
                <a href="#">More</a>
            </div>
        </div>
    </div>
    </div>
<!-- Menu bar ends here -->
<!-- Body Starts here -->
    <div class="container-fluid">
        <div class="col-xs-3">
            <div class="thumbnail">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbGrhWUbSy7GEATC87YOMPHvvwt3H5fqEQtdvr_LcjFGhobrt3ow">
                <p>Villa</p>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="thumbnail">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbGrhWUbSy7GEATC87YOMPHvvwt3H5fqEQtdvr_LcjFGhobrt3ow">
                <p>Apartment</p>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="thumbnail">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbGrhWUbSy7GEATC87YOMPHvvwt3H5fqEQtdvr_LcjFGhobrt3ow">
                <p>Heavy Industry</p>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="thumbnail">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbGrhWUbSy7GEATC87YOMPHvvwt3H5fqEQtdvr_LcjFGhobrt3ow">
                <p>Swimming Pool</p>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="thumbnail">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbGrhWUbSy7GEATC87YOMPHvvwt3H5fqEQtdvr_LcjFGhobrt3ow">
                <p>Steel Structure</p>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="thumbnail">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbGrhWUbSy7GEATC87YOMPHvvwt3H5fqEQtdvr_LcjFGhobrt3ow">
                <p>Aluminium Partition</p>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="thumbnail">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbGrhWUbSy7GEATC87YOMPHvvwt3H5fqEQtdvr_LcjFGhobrt3ow">
                <p>Building Repair</p>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="thumbnail">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbGrhWUbSy7GEATC87YOMPHvvwt3H5fqEQtdvr_LcjFGhobrt3ow">
                <p>Interior Designing</p>
            </div>
        </div>
    </div>
    <!--footer-->
<div class="footer">
    <div class="container">
        <div class="col-md-3 footer-grid">
            <h3>About Us</h3>
            <p>Home Services Pvt Ltd : we are always ready for providing our services to you.</p>
        </div>
        <div class="col-md-3 footer-grid other">
            <h3>Menu</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="">Servicing</a></li>						 
                <li><a href="">Contact</a></li>
            </ul>
        </div>
        <div class="col-md-3 footer-grid other">
            <h3>Customer Services</h3>
            <ul>
                <li><a href="">Terms & Conditions</a></li>
                <li><a href="">Faqs</a></li>
                <li><a href="">Contact</a></li>					 
                    
            </ul>
        </div>
        <div class="col-md-3 footer-grid other">
            <h3>My Account</h3>
            <ul>
                <li><a href="login.html">Login</a></li>
                <li><a href="register.html">Register</a></li>
                
            </ul>
        </div>
        <div class="clearfix"></div>
            <div class="footer-bottom">
                <h2 ><a href="index.html">Homie Services Pvt Ltd<span>Egineered Services at Bargained Price</span></a></h2>
                <div class=" address">
                    <div class="col-md-4 fo-grid1">
                            <p><i class="fa fa-home" aria-hidden="true"></i>BN- 81 Balram nagar , Safilguda</p>
                    </div>
                    <div class="col-md-4 fo-grid1">
                        <p><i class="fa fa-phone" aria-hidden="true"></i>+917702062212</p>	
                    </div>
                    <div class="col-md-4 fo-grid1">
                        <p><a href="mailto:contact@homieservices.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>contact@homieservices.com</a></p>
                    </div>
                    <div class="clearfix"></div>
                    
                    </div>
            </div>
        <div class="copy-right">
            <p> &copy; 2018. All Rights Reserved</a></p>
        </div>
    </div>
</div>
<!-- //footer-->
</body>
</html>